---
import Banner from "@/components/Banner";
import type { Event } from "@/types/Event";
import Layout from "@/layouts/Layout.astro";
import cover from "@/assets/images/backgrounds/KMUTT_Eng_Building.png";
import { getCollection } from "astro:content";
import TalkCard from "@/components/TalkCard.astro";
import Container from "@/components/Container.astro";

const allWatching = await getCollection("watch");
const allEvents = await getCollection("event");

const event = allEvents[0].data as Event;


---

<Layout title="Watch · TEDxKMUTT">
    <main>
        <Banner
            tag="Watch our talks"
            title="Ideas That Resonate"
            description="Watch standout presentations from KMUTT researchers, alumni, and invited experts that exemplify our commitment to advancing knowledge and technology"
            cover={cover}
        />
            
        <div class="max-w-screen-lg m-auto">
            <div class="space-y-3 my-8 w-1/2">

                    <p class="text-sm text-primary-500 font-bold">
                        {new Date(event.date).getFullYear()}
                    </p>
                    <h3 class="text-xl font-bold">{event.title}</h3>
                <p class="text-gray-300 line-clamp-3">
                    {event.description}
                </p>
            </div>
            <div class="grid grid-cols-3 gap-4">
                {allWatching.map((watch) => <TalkCard talk={watch} />)}
            </div>
        </div>
    </main>
</Layout>
