---
import BaseButton from "@/components/BaseButton.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Watch — TEDxKMUTT">
    <main>
        <h1 class="text-red-500">Watch</h1>
        <BaseButton variant="normal">Normal Button</BaseButton>
        <BaseButton variant="accent">Accent Button</BaseButton>
        <BaseButton variant="border">Border Button</BaseButton>
        <BaseButton variant="text">Text Button</BaseButton>
    </main>
</Layout>
