---
import Banner from "@/components/Banner";
import Layout from "@/layouts/Layout.astro";
import cover from "@/assets/images/backgrounds/KMUTT_Eng_Building.webp";
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import TedxImg from "@/assets/images/Tedx.webp";
import LXBuildingImg from "@/assets/images/backgrounds/KMUTT_LX_Building.webp";
import Image from "astro/components/Image.astro";
import ContactForm from "@/components/ContactForm.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="About · TEDxKMUTT">
    <main>
        <Banner
            tag="About us"
            title="Ideas Worth Spreading at KMUTT"
            description="TEDxKMUTT brings innovative ideas to our campus. We inspire and provoke thought, fostering creativity among students, faculty, and the wider community."
            cover={cover}
        />
        <div class="space-y-40 md:space-y-80 pt-24">
            <Container>
                <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    class="flex flex-col-reverse justify-between gap-10 md:flex-row"
                >
                    <Section
                        tag="TEDxKMUTT"
                        description="TEDxKMUTT is a platform under the copyright of TEDx, designed to inspire and exchange powerful new ideas.\n\nOrganized by volunteers from King Mongkut's University of Technology Thonburi (KMUTT) and the Institute of Innovation and Knowledge Development,\n\nit serves as a space for idea sharing and a convergence of creative minds and changemakers from diverse fields."
                    >
                        <h2 slot="headline">
                            We are <span class="c-underline">TEDxKMUTT</span>
                        </h2>
                    </Section>
                    <img
                        src={LXBuildingImg.src}
                        alt="TEDx"
                        class="aspect-video md:aspect-auto w-full md:w-1/2 object-cover border border-gray-500 rounded-2xl duration-200 shadow-[0_0_2rem_0_rgba(0,0,0,0.3)] hover:shadow-primary-600"
                    />
                </div>
            </Container>
            <Container>
                <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    class="flex flex-col justify-between gap-10 md:flex-row"
                >
                    <div class="w-full md:w-1/2">
                        <img
                            src="https://ideas.ted.com/wp-content/uploads/sites/3/2018/12/featured_art_DuncanDavidsonTED.jpg"
                            alt="TEDx"
                            class="aspect-video sticky top-24 md:aspect-auto object-cover border border-gray-500 rounded-2xl duration-200 shadow-[0_0_2rem_0_rgba(0,0,0,0.3)] hover:shadow-primary-600"
                        />
                    </div>
                    <Section
                        tag="TED"
                        description="TED is a nonprofit, nonpartisan organization dedicated to discovering, debating and spreading ideas that spark conversation, deepen understanding and drive meaningful change.\n\nOur organization is devoted to curiosity, reason, wonder and the pursuit of knowledge — without an agenda. \n\nWe welcome people from every discipline and culture who seek a deeper understanding of the world and connection with others, and we invite everyone to engage with ideas and activate them in your community.\n\nTED began in 1984 as a conference where Technology, Entertainment and Design converged, but today it spans a multitude of worldwide communities and initiatives exploring everything from science and business to education, arts and global issues.\n\nIn addition to the TED Talks curated from our annual conferences and published on TED.com, we produce original podcasts, short video series, animated educational lessons (TED-Ed) and TV programs that are translated into more than 100 languages and distributed via partnerships around the world.\n\nEach year, thousands of independently run TEDx events bring people together to share ideas and bridge divides in communities on every continent.\n\nThrough the Audacious Project, TED has helped catalyze more than $3 billion in funding for projects that seek to make the world more beautiful, sustainable and just.\n\nIn 2020, TED launched Countdown, an initiative to accelerate solutions to the climate crisis and mobilize a movement for a net-zero future, and in 2023 TED launched TED Democracy to spark a new kind of conversation focused on realistic pathways towards a more vibrant and equitable future.\n\nView a full list of TED’s many programs and initiatives."
                    >
                        <h2 slot="headline">
                            About <span class="c-underline">TED</span>
                        </h2>
                        <p>
                            Follow TED on <a
                                href="https://web.facebook.com/TED?_rdc=1&_rdr"
                                target="_blank">Facebook</a
                            >,  <a
                                href="https://www.instagram.com/ted"
                                target="_blank">Instagram</a
                            >,  <a
                                href="https://www.linkedin.com/company/ted-conferences/"
                                target="_blank">LinkedIn</a
                            >,  <a
                                href="https://www.tiktok.com/@tedtoks?lang=en"
                                target="_blank">TikTok</a
                            >, and  <a
                                href="https://x.com/TEDTalks"
                                target="_blank">X</a
                            >.
                            <br /><br />
                        </p>
                    </Section>
                </div>
            </Container>
            <Container>
                <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    class="flex flex-col-reverse justify-between gap-10 md:flex-row"
                >
                    <Section
                        tag="TEDx"
                        description="x = independently organized event In the spirit of discovering and spreading ideas, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.\n\nAt a TEDx event, TED Talks video and live speakers combine to spark deep discussion and connection.\n\nThese local, self-organized events are branded TEDx, where x = independently organized TED event.\n\nThe TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized. (Subject to certain rules and regulations.)"
                    >
                        <h2 slot="headline">
                            About <span class="c-underline">TEDx</span>
                        </h2>
                    </Section>
                    <img
                        src={TedxImg.src}
                        alt="TEDx"
                        class="aspect-video md:aspect-auto w-full md:w-1/2 object-cover border border-gray-500 rounded-2xl duration-200 shadow-[0_0_2rem_0_rgba(0,0,0,0.3)] hover:shadow-primary-600"
                    />
                </div>
            </Container>
            <ContactForm />
        </div>
    </main>
</Layout>
