---
import EventCard from "@/components/EventCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allEvents = await getCollection("event");
---

<Layout title="TEDxKMUTT">
    <main>TEDxKMUTT - EN</main>
</Layout>

