---
import VisionCard from "@/components/VisionCard.astro";
import Layout from "@/layouts/Layout.astro";
import Audience from "@/assets/images/backgrounds/Audience.jpg";
---

<Layout title="TEDxKMUTT">
    <main>TEDxKMUTT - EN</main>
    <VisionCard thumbnail={Audience} text="Invisible"/>
</Layout>
