---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import cover from "@/assets/images/wave-line-4.png";
import { Image } from "astro:assets";
---

<Layout title="404 · TEDxKMUTT">
  <main>
    <div class="relative py-40 rounded-2xl md:rounded-3xl overflow-clip">
      <Image
        src={cover}
        alt={"404 Page Not Found"}
        class="absolute top-0 left-0 w-full h-full object-cover"
      />

      <div
        class="relative max-w-[28rem] md:max-w-[36rem] px-4 text-center m-auto space-y-4 md:space-y-6"
      >
        <div class="space-y-3">
          <h1 class="font-bold text-4xl md:text-4xl text-gray-200">
            Oops! Page Not Found :(
          </h1>
        </div>
        <p class="text-md md:text-xl">
          Looks like you've wandered off the main stage. Let's get you back to
          inspiring ideas and brilliant talks!
        </p>
        <div class="pt-6">
          <Button href="/" className="w-full md:w-auto">Go back to home page</Button
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
