---
import cover from "@/assets/images/backgrounds/KMUTT_LX_Building.png";
import Button from "./Button.astro";
---

<div class="p-2">
    <div
        class="relative px-4 py-12 lg:p-12 rounded-2xl md:rounded-3xl overflow-clip"
    >
        <img
            src={cover.src}
            class="absolute top-0 left-0 w-full h-full object-cover"
        />
        <div class="absolute top-0 left-0 bg-black opacity-70 w-full h-full">
        </div>
        <div
            class="relative max-w-screen-xl m-auto justify-around mx-auto space-y-4 md:space-y-0 md:flex md:flex-row flex flex-col"
        >
            <div class="text-white w-full">
                <h1 class="text-red-600 font-bold">Contact</h1>
                <h1 class="mt-3 md:mt-6 text-3xl md:text-4xl font-semibold">
                    Connect with us
                </h1>

                <p class="text-sm font-thin md:text-lg mt-4 w-full md:w-3/4">
                    Reach out to learn about upcoming events, speaking
                    opportunities, or how to get involved in spreading
                    innovative ideas at KMUTT
                </p>
            </div>

            <form class="w-full">
                <div class="mb-4">
                    <label class="block text-sm mb-2" for="name">Name</label>
                    <input
                        class="w-full p-2 text-black rounded"
                        type="text"
                        id="name"
                        name="name"
                        required
                    />
                </div>
                <div class="mb-4">
                    <label class="block text-sm mb-2" for="email">Email</label>
                    <input
                        class="w-full p-3 text-black rounded"
                        type="email"
                        id="email"
                        name="email"
                        required
                    />
                </div>
                <div class="mb-4">
                    <label class="block text-sm mb-2" for="message"
                        >Message</label
                    >
                    <textarea
                        class="w-full p-3 text-black rounded"
                        id="message"
                        name="message"
                        rows="4"
                        required
                        placeholder="Type your message..."></textarea>
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input
                            type="checkbox"
                            class="form-checkbox text-red-600"
                            required
                        />
                        <span class="ml-2"
                            >I accept the
                            <a href="#" class="underline hover:text-red-500"
                                >Terms</a
                            >
                        </span>
                    </label>
                </div>
                <div class="mb-4 mt-8">
                    <Button> Submit </Button>
                </div>
            </form>
        </div>
    </div>
</div>
