---
import { Image } from "astro:assets";
import LanguagePicker from "./LanguagePicker.astro";
import W_logo from "@/assets/images/logos/TEDxKMUTT_w.png";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
    <div class="px-5 py-12 bg-black text-white lg:px-16 lg:py-20">
        <div class="flex flex-col justify-between gap-20 mb-12 md:flex-row">
            <div>
                <Image src={W_logo} alt="TEDxKMUTT logo" class="w-80" />
                <p>
                    This independent TEDx event is operated under license from
                    TED.
                </p>
            </div>
            <div class="flex flex-col gap-10 md:flex-row">
                <div class="space-y-6">
                    <p class="font-bold text-lg">
                        {t("footer.info").toUpperCase()}
                    </p>
                    <ul class="space-y-4">
                        <li>Events</li>
                        <li>About us</li>
                        <li>Watch</li>
                        <li>Read</li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="font-bold text-lg">
                        {t("footer.contact").toUpperCase()}
                    </p>
                    <ul class="space-y-4">
                        <li>+00 00 000 0000</li>
                        <li>contact@tedxkmutt.com</li>
                        <li class="w-72">{t("footer.contact.location")}</li>
                        <ul class="flex gap-1 pt-5">
                            <li>
                                <div class="bg-white p-[2px] rounded-full">
                                    <Icon
                                        name="mdi:facebook"
                                        class="text-primary-500"
                                        size={24}
                                    />
                                </div>
                            </li>
                            <li>
                                <div class="bg-white p-[2px] rounded-full">
                                    <Icon
                                        name="mdi:instagram"
                                        class="text-primary-500"
                                        size={24}
                                    />
                                </div>
                            </li>
                            <li>
                                <div class="bg-white p-[2px] rounded-full">
                                    <Icon
                                        name="mdi:youtube"
                                        class="text-primary-500"
                                        size={24}
                                    />
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="border-t border-white" />
        <div
            class="flex flex-col-reverse justify-between gap-12 mt-8 md:flex-row"
        >
            <p>© 2024 TEDxKMUTT. All rights reserved.</p>
            <div class="inline-flex flex-col gap-6 md:flex-row">
                <p>{t("footer.privacy")}</p>
                <p>
                    {t("footer.terms")}
                </p>
                <p>
                    {t("footer.cookies")}
                </p>
            </div>
        </div>
        <LanguagePicker />
    </div>
</footer>
