---
import { languages } from "@/i18n/ui";

const path = Astro.url.pathname.split("/")[2];
---

<ul>
    {
        Object.entries(languages).map(([lang, label]) => (
            <li>
                <a href={`/${lang}/${path}`}>{label}</a>
            </li>
        ))
    }
</ul>
