---
import { languages } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url).toString();
const pathWithoutLang = Astro.url.pathname.slice(lang.length + 2); // +2 to account for the leading "/"

const replacePath = (newLang: string) => {
    return `/${newLang}/${pathWithoutLang}`;
};
---

<ul>
    {
        Object.entries(languages).map(([langCode, label]) => (
            <li>
                <a href={replacePath(langCode)}>{label}</a>
            </li>
        ))
    }
</ul>
