---
const { tag, description, style } = Astro.props;
---

<div class={style}>
    <div class="space-y-4 mb-10">
        <small class="text-primary-500 font-bold">{tag}</small>
        <h2 class="text-5xl font-semibold">
            <slot name="headline" />
        </h2>
        <p class="whitespace-pre-line text-xl leading-8 text-gray-50">
            {description}
        </p>
    </div>
    <slot />
</div>
