---
const { tag, description, style } = Astro.props;
---

<div data-aos="fade-up" class={style}>
    <div class="space-y-4 mb-10">
        <small class="text-primary-500 font-bold">{tag}</small>
        <div class="text-4xl font-semibold">
            <slot name="headline" />
        </div>
        <p class="whitespace-pre-line max-w-[36rem] md:m-auto text-lg leading-8 text-gray-50">
            {description}
        </p>
    </div>
    <slot />
</div>
