---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
interface Talk {
    title: string;
    description: string;
    event: any;
    speaker: {
        name: string;
        bio: string;
    };
    thumbnail: {
        src: any;
        alt?: string;
    };
    url: string;
    relatedTalks?: any[];
}
interface Props {
    talk: Talk;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { talk } = Astro.props;
---

<div
    class="group relative flex flex-col justify-end h-[28rem] pb-6 px-4 rounded-2xl overflow-clip"
>
    <Icon
        name="mdi:play"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white opacity-60 duration-200 group-hover:opacity-0"
        size={80}
    />
    <div
        class="absolute -z-10 w-full h-3/4 bottom-0 left-0 bg-gradient-to-t from-primary-500 to-[#00000000] opacity-0 duration-200 group-hover:opacity-100"
    >
    </div>
    <div
        class="absolute -z-10 w-full h-3/4 bottom-0 left-0 bg-gradient-to-t from-black to-[#00000000] duration-200 group-hover:opacity-0"
    >
    </div>
    <div
        style={`background: url('${talk.thumbnail.src}') no-repeat center center;`}
        class="absolute w-full h-full top-0 left-0 -z-30"
    >
    </div>

    <div class="translate-y-36 duration-200 group-hover:translate-y-0">
        <p class="text-gray-300 text-sm mb-2">{talk.speaker.name}</p>
        <h2 class="text-2xl font-bold">{talk.title}</h2>
        <p
            class="text-gray-300 my-3 leading-7 line-clamp-5 opacity-0 duration-100 group-hover:opacity-100"
        >
            {talk.description}
        </p>
    </div>
    <div>
        <Button variant={"border"} icon="mdi:play">
            {t("watch.now")}
        </Button>
    </div>
</div>
