---
interface VisionCardProps {
    thumbnail: ImageMetadata;
    text: string;
}
const { thumbnail, text } = Astro.props as VisionCardProps;
---

<div
    class="relative h-[32rem] rounded-2xl overflow-hidden duration-300 border border-slate-500"
>
    <img
        src={thumbnail.src}
        alt={text}
        class="absolute inset-0 w-full h-full object-cover"
    />

    <div class="absolute bg-black opacity-80 w-full h-full top-0"></div>
    <div class="absolute bg-primary-500 w-full h-full top-0 mix-blend-color">
    </div>

    <div class="absolute inset-0 flex items-center justify-center p-4">
        <h2 class="text-white text-3xl md:text-4xl font-bold tracking-wider">
            {text}
        </h2>
    </div>
</div>
