---
interface VisionCardProps {
    thumbnail: ImageMetadata;
    text: string;
}

const { thumbnail, text } = Astro.props as VisionCardProps;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src={thumbnail.src} alt="Image" />
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{text}</div>
    </div>
</div>
This Astro compon
