---
import Button from "@/components/Button.astro";

interface Props {
    facebookUrl: string;
    xUrl: string;
    linkedinUrl: string;
}

const { facebookUrl, xUrl, linkedinUrl } = Astro.props;
---

<div class="flex gap-2 space-x-2">
    <Button variant="accent" href={facebookUrl}>Facebook Share</Button>
    <Button variant="accent" href={xUrl}>X Share</Button>
    <Button variant="accent" href={linkedinUrl}>LinkedIn Share</Button>
</div>
