---
import Layout from "@/layouts/Layout.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;

if (slug === undefined) {
    throw new Error("Slug is required");
}
const entry = await getEntry("read", slug);

if (entry === undefined) {
    return Astro.redirect("/404");
}

const author = await getEntry(entry.data.author);

const { Content, headings } = await entry.render();

---
<Layout title="Read · TEDxKMUTT">
<Content />
{
    author && (
        <p>Written by: {author.data.name}</p>
        <img src={author.data.avatar.src} alt={author.data.avatar.alt}>
    )
}
</Layout>