---
import { getLangFromUrl } from "@/i18n/ีutils";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
const lang = getLangFromUrl(Astro.url);

if (slug === undefined) {
    throw new Error("Slug is required");
}
const entry = await getEntry("read", slug);

if (entry === undefined) {
    return Astro.redirect("/404");
}

const author = await getEntry(entry.data.author);

const { Content, headings } = await entry.render();

const formattedDate = entry.data.pubDate.toLocaleString(lang);
---

<p>Published on: {formattedDate}</p>
<Content />
{
    author && (
        <p>Written by: {author.data.name}</p>
        <img src={author.data.avatar.src} alt={author.data.avatar.alt}>
    )
}
