---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const allReadings = await getCollection("read");
---

<Layout title="Read · TEDxKMUTT">
    <main>
        <h1>Read</h1>
        <div>
            <p>
                {
                    allReadings.map((reading) => (
                        <a href={`/${lang}/read/${reading.slug}`}>
                            {reading.data.title}
                        </a>
                    ))
                }
            </p>
        </div>
    </main></Layout
>
